<div class="browser-upgrade">
  <h1>Please update your browser.</h1>
  <p>
    We’re sorry, but this application does not support Internet Explorer 8. <br/>
    Please use FireFox or Chrome, or upgrade to Internet Explorer 9 or 10.
  </p>
</div>