<div class="alert alert-info">
  <%= t('subscriptions.create.thanks') %> <br/>
  <%= t('subscriptions.create.welcome') %>
</div>
<p>
  <%= link_to t('subscriptions.create.smo'), root_path, :class => "btn btn-small btn-success" %>
</p>