// Place all the styles related to the upgrade controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.browser-upgrade {
    width: 25em;
    padding: 0 4em;
    margin: 4em auto 0 auto;
    border: 1px solid #ccc;
    border-right-color: #999;
    border-bottom-color: #999;
}
h1 { font-size: 100%; color: #f00; line-height: 1.5em; }